@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR";
  box-sizing: border-box;
  word-break: keep-all;
}

ul, li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img, svg {
  vertical-align: top;
}

span {
  display: inline-block;
}

html {
  min-width: 1440px;
  height: 100%;
  font-size: 10px;
}

body {
  position: relative;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
  color: #202d3d;
  background: #eaf0f4;
}

.hidden {
  position: absolute;
  left: -9999;
  font-size: 0;
}

/* 제목 */
h2 {
  font-size: 2rem;
  color: #38475a;
}

h3 {
  font-size: 1.6rem;
  color: #38475a;
}

h4 {
  font-size: 1.4rem;
  color: #677381;
}

/* 입력 폼 */
select, input:not([type=button]) {
  padding: 0.8rem 1.2rem;
  margin-right: 0.5rem;
  border: 1px solid #a5abb2;
  font-size: 1.4rem;
  color: #202d3d;
  outline: none;
}
select:focus, input:not([type=button]):focus {
  outline: none;
}
select:last-child, input:not([type=button]):last-child {
  margin-right: 0;
}

select {
  min-width: 13rem;
}

input:not([type=button]) {
  min-width: 15rem;
}

/* 검색 */
.search {
  position: relative;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  text-align: right;
}
.search .buttonIcon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.4rem 0.8rem 0.2rem;
  border: 1px solid #a5abb2;
  border-left: none;
  background: #fff;
  cursor: pointer;
}
.search .buttonIcon .icon {
  width: 1.8rem;
  height: 1.5rem;
  vertical-align: initial;
  filter: invert(45%) sepia(35%) saturate(202%) hue-rotate(172deg) brightness(89%) contrast(82%);
}
.search .input {
  min-width: 15rem;
  padding-right: 3.5rem;
}

/* 입력 폼 */
.formList {
  text-align: left;
}
.formList::after {
  content: "";
  display: block;
  clear: both;
}
.formList li {
  margin-bottom: 1.2rem;
}
.formList li:last-child {
  margin-bottom: 0;
}
.formList input {
  width: 100%;
}

/* 체크 박스 */
.checkBox {
  font-weight: 500;
  font-size: 1.4rem;
  color: #a5abb2;
  cursor: pointer;
}
.checkBox span {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: -0.3rem;
  margin-right: 0.3rem;
  vertical-align: middle;
  border: 1px solid #a5abb2;
}
.checkBox input {
  display: none;
}

.checkBox.action {
  color: #3894f4;
}
.checkBox.action span {
  background: url(../images/check.svg) no-repeat center/70%;
  filter: invert(56%) sepia(53%) saturate(5050%) hue-rotate(193deg) brightness(102%) contrast(91%);
}

/* 테이블 */
table {
  width: calc(100% - 4rem);
  margin: 2rem;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
}
table tbody {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  scrollbar-arrow-color: none;
  scrollbar-Track-Color: none;
  scrollbar-Face-Color: #aaccec;
  scrollbar-Shadow-Color: none;
  scrollbar-color: #aaccec;
}
table tbody::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
table tbody::-webkit-scrollbar-thumb {
  background-color: #a5abb2;
  border-radius: 10px;
}
table tbody::-webkit-scrollbar-track {
  background-color: none;
  border-radius: 10px;
}
table tbody::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
table tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
table th {
  padding-bottom: 1rem;
  font-size: 1.4rem;
  color: #677381;
  border-bottom: 1px solid #3894f4;
  color: #3894f4;
}
table tbody th {
  border-color: #e6ebee;
  border-right: 1px solid #3894f4;
  word-break: break-word;
}
table tbody td {
  padding: 1.2rem 0.2rem;
  font-size: 1.6rem;
  color: #202d3d;
  border-bottom: 1px solid #e6ebee;
  word-break: break-word;
}
table .noData {
  padding: 0;
  height: 30vh;
  border-bottom: 1px solid #e6ebee;
}

/* 가로 스크롤 테이블 */
.tableScroll_X {
  max-width: 122rem;
  margin: 2rem;
  overflow-x: auto;
  scrollbar-arrow-color: none;
  scrollbar-Track-Color: none;
  scrollbar-Face-Color: #aaccec;
  scrollbar-Shadow-Color: none;
  scrollbar-color: #aaccec;
}
.tableScroll_X::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.tableScroll_X::-webkit-scrollbar-thumb {
  background-color: #a5abb2;
  border-radius: 10px;
}
.tableScroll_X::-webkit-scrollbar-track {
  background-color: none;
  border-radius: 10px;
}
.tableScroll_X::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
@media screen and (max-width: 1520px) {
  .tableScroll_X {
    max-width: 116rem;
  }
}
.tableScroll_X table {
  width: auto;
  margin: 0;
  white-space: nowrap;
}
.tableScroll_X table thead, .tableScroll_X table tbody {
  display: table-row-group;
}
.tableScroll_X table thead tr, .tableScroll_X table tbody tr {
  display: table-row;
}
.tableScroll_X table thead th, .tableScroll_X table tbody th {
  padding: 0 1rem 1rem;
}
.tableScroll_X table thead td, .tableScroll_X table tbody td {
  padding: 1.2rem 1rem;
}

/* 라벨 */
.label {
  padding: 0.3rem 1.3rem 0.5rem;
  font-size: 1.3rem;
  border-radius: 30px;
}

.labelRed {
  background: #ed4f4f;
  color: #fff;
}

.labelGreen {
  background: #58d53f;
  color: #fff;
}

/* 버튼*/
.buttonZone {
  margin: 2rem 0;
  padding: 0 2rem;
  text-align: right;
}

.button {
  margin-left: 0.8rem;
  padding: 1.2rem 1.8rem;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 3px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
.button:first-child {
  margin-left: 0;
}

.softBlue {
  background: #cbe2fb;
  color: #0978eb;
}

.buttonBlue {
  background: #3894f4;
  color: #fff;
}

/* 왼쪽 메뉴 */
.leftMenu {
  flex: 0 0 12%;
  background: #162234;
  color: #677381;
  z-index: 1;
}
.leftMenu .menuIcon {
  height: 5rem;
  padding-top: 0.9rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: right;
}
.leftMenu .menuIcon img {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  filter: invert(95%) sepia(2%) saturate(1227%) hue-rotate(181deg) brightness(74%) contrast(82%);
}
.leftMenu .mainMenu {
  font-weight: bold;
}
.leftMenu .mainMenu > li {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
  cursor: pointer;
}
.leftMenu .mainMenu > li.action {
  color: #3894f4;
  background: #0c1625;
}
.leftMenu .mainMenu > li.action img {
  filter: invert(51%) sepia(16%) saturate(6199%) hue-rotate(190deg) brightness(100%) contrast(92%);
}
.leftMenu .mainMenu > li.action ul {
  display: block;
}
.leftMenu .mainMenu > li::before {
  content: "";
  float: right;
  display: block;
  width: 2rem;
  height: 2rem;
  transform: rotate(90deg);
  background-image: url(../images/menu_arrow.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center top;
  filter: invert(48%) sepia(24%) saturate(279%) hue-rotate(172deg) brightness(86%) contrast(86%);
}
.leftMenu .mainMenu > li.action::before {
  transform: rotate(-90deg);
  background-position: center bottom;
  filter: invert(51%) sepia(16%) saturate(6199%) hue-rotate(190deg) brightness(100%) contrast(92%);
}
.leftMenu .mainMenu > li > img {
  width: 1.6rem;
  height: 1.6rem;
  margin-top: -0.3rem;
  margin-right: 0.5rem;
  vertical-align: middle;
  filter: invert(48%) sepia(24%) saturate(279%) hue-rotate(172deg) brightness(86%) contrast(86%);
}
.leftMenu .mainMenu > li ul {
  display: none;
  margin-top: 1rem;
}
.leftMenu .mainMenu > li ul li {
  padding-top: 1rem;
  padding-left: 2.5rem;
  padding-bottom: 1rem;
  font-size: 1.3rem;
  color: #677381;
}
.leftMenu .mainMenu > li ul li.action {
  color: #3894f4;
}
.leftMenu .mainMenu > li ul li a {
  color: #677381;
}
.leftMenu .mainMenu > li ul li.action a {
  color: #3894f4;
}

/* 로그인 */
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 70%;
  text-align: center;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login h2 {
  margin-bottom: 3rem;
}
.login .box_01 {
  flex: 1 0 60%;
  height: 100%;
  overflow: hidden;
  background: #000;
}
.login .box_01 .loginImg {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.login .box_02 {
  flex: 1 0 40%;
  padding: 3rem;
}
.login .userInfo {
  margin-top: 3rem;
  font-size: 1.4rem;
}
.login .userInfo li {
  margin-top: 1rem;
}
.login .userInfo li a {
  color: #677381;
}
.login .userInfo li a:hover {
  text-decoration: underline;
}

/* 본문 */
.content {
  flex: 0 1 88%;
  z-index: 0;
}

header {
  height: 5rem;
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  background: #ffffff;
  box-shadow: 0 2px 10px #d7dce0;
}
header::after {
  content: "";
  display: block;
  clear: both;
}
header h1 {
  float: left;
  font-size: 1.8rem;
  color: #38475a;
}
header h1 img {
  width: 5.2rem;
  height: 2.8rem;
  margin-right: 0.5rem;
}
header h1 a {
  color: #38475a;
}
header .userMenu {
  float: right;
}
header .userMenu li {
  float: left;
  margin-left: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: #677381;
}

.contentStyle {
  padding: 3rem;
}
.contentStyle h2 {
  margin-bottom: 3rem;
}

/* 공용 */
.boxStyle {
  border-radius: 5px;
  border: 1px solid #d5dde2;
  background: #fff;
  box-shadow: 0 0 8px #d5dadd;
  overflow: hidden;
}
.boxStyle h3:not(.hidden) {
  padding: 1.2rem 2rem;
  background: #f8fcff;
  border-bottom: 1px solid #e6ebee;
}

.selectZone {
  position: absolute;
  top: 2rem;
  z-index: 10;
}

.container_01, .container_02, .container_03 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  margin-bottom: 2.2rem;
}
.container_01:last-child, .container_02:last-child, .container_03:last-child {
  margin-bottom: 0;
}
.container_01 section, .container_02 section, .container_03 section {
  border-radius: 5px;
  border: 1px solid #d5dde2;
  background: #fff;
  box-shadow: 0 0 8px #d5dadd;
  overflow: hidden;
}
.container_01 section h3:not(.hidden), .container_02 section h3:not(.hidden), .container_03 section h3:not(.hidden) {
  padding: 1.2rem 2rem;
  background: #f8fcff;
  border-bottom: 1px solid #e6ebee;
}

.container_01.statistics section {
  flex: 1 0 20%;
  position: relative;
  margin-right: 2rem;
  padding: 2rem;
}
.container_01.statistics section:nth-child(1) {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #2777c9;
}
.container_01.statistics section:nth-child(2) {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #07a5b0;
}
.container_01.statistics section:nth-child(3) {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #cd71e4;
}
.container_01.statistics section:nth-child(4) {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #f09400;
  margin-right: 0;
}
.container_01.statistics section h5 {
  margin-bottom: -0.2rem;
  font-size: 1.4rem;
  color: #677381;
}
.container_01.statistics section p {
  font-size: 2.4rem;
  font-weight: bold;
  color: #202d3d;
}
.container_01.statistics section p span {
  margin-left: 0.5rem;
  font-size: 1.6rem;
  font-weight: normal;
  color: #a5abb2;
}
.container_01.statistics section img {
  position: absolute;
  top: 28%;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  filter: invert(97%) sepia(1%) saturate(5413%) hue-rotate(172deg) brightness(96%) contrast(100%);
}

.container_02 section {
  margin-right: 2rem;
}
.container_02 section:last-child {
  margin-right: 0;
}

.container_03 section {
  margin-right: 2rem;
}
.container_03 section:last-child {
  margin-right: 0;
}
.container_03 section .chartArea {
  max-width: 795px;
}

.highcharts-root {
  font-family: "Noto Sans KR" !important;
  font-size: 1.6rem !important;
  font-weight: 500 !important;
}

.chartArea {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0rem;
}

.totalData {
  border-top: 1px solid #e6ebee;
}
.totalData::after {
  content: "";
  display: block;
  clear: both;
}
.totalData li {
  float: left;
  padding: 2rem 0;
  text-align: center;
  border-right: 1px solid #e6ebee;
}
.totalData li:last-child {
  border-right: none;
}
.totalData li h5 {
  margin-bottom: -0.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #677381;
}
.totalData li p {
  font-size: 2.4rem;
  font-weight: bold;
  color: #202d3d;
}
.totalData li p span {
  margin-left: 0.3rem;
  font-size: 1.6rem;
  font-weight: normal;
  color: #a5abb2;
}

.chackRemarks {
  padding: 0 2rem;
}
.chackRemarks li {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}
.chackRemarks li::before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-right: 0.5rem;
  border-radius: 50%;
}
.chackRemarks li:nth-child(1) {
  color: #3894f4;
}
.chackRemarks li:nth-child(1)::before {
  background: #3894f4;
}
.chackRemarks li:nth-child(2) {
  color: #05c0e2;
}
.chackRemarks li:nth-child(2)::before {
  background: #05c0e2;
}
.chackRemarks li:nth-child(3) {
  color: #9c60ef;
}
.chackRemarks li:nth-child(3)::before {
  background: #9c60ef;
}
.chackRemarks li::after {
  content: "";
  display: block;
  clear: both;
}
.chackRemarks li p {
  float: right;
  font-size: 1.6rem;
  color: #677381;
}

/* 발전 현황 및 예측 정보 */
.predictionReport .container_02 section:nth-child(1) {
  flex: 0 1 24%;
}
.predictionReport .container_02 section:nth-child(1) .chartArea {
  max-width: 385px;
  min-height: 350px;
  padding-top: 2rem;
}
.predictionReport .container_02 section:nth-child(2) {
  flex: 1 0;
}
.predictionReport .container_02 section:nth-child(2) .chartArea {
  max-width: 1200px;
}
.predictionReport .container_03 section {
  flex: 1 0 48%;
}
.predictionReport .container_03 section .chartArea {
  max-width: 795px;
}
.predictionReport .totalData li {
  width: 50%;
}

/* 발전 현황 및 입찰 정보 */
.biddingReport .container_02 section:nth-child(1) {
  flex: 0 1 24%;
}
.biddingReport .container_02 section:nth-child(1) .chartArea {
  max-width: 385px;
  min-height: 350px;
  padding-top: 2rem;
}
.biddingReport .container_02 section:nth-child(2) {
  flex: 1 0;
}
.biddingReport .container_02 section:nth-child(2) .chartArea {
  max-width: 1200px;
  min-height: 400px;
}
.biddingReport .container_03 section:nth-child(1) {
  flex: 0 1 24%;
}
.biddingReport .container_03 section:nth-child(1) .chartArea {
  max-width: 385px;
  min-height: 300px;
}
.biddingReport .container_03 section:nth-child(1) > p {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  color: #a5abb2;
  text-align: center;
}
.biddingReport .container_03 section:nth-child(2) {
  flex: 1 0;
}
.biddingReport .container_03 section:nth-child(2) .chartArea {
  max-width: 1200px;
  min-height: 346px;
}
.biddingReport .container_03 .totalData li {
  width: 33.3333333333%;
}

/* 예측유형별 발전 정보 */
.predictionType .boxStyle {
  position: relative;
  padding-top: 2.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0;
  margin-bottom: 3rem;
}
.predictionType .boxStyle:last-child {
  margin-bottom: 0;
}
.predictionType .boxStyle .chartArea {
  max-width: 1600px;
  min-height: 420px;
}

/* 지역별 기상/발전 현황 */
.regionPresent {
  height: 94%;
  /*
  .box_01 { 
      float: left; width: 59%; height: 93%;

      .chartArea { max-width: 958px; min-height: 740px; padding: { top: 0rem; left: 2rem; right: 2rem; bottom: 0;};}
  }

  .box_02 { 
      float: right; width: 40%; margin-bottom: 2rem;

      .totalData li { width: 50%;}
  }

  .box_03 { 
      float: right; width: 40%; height: 78.4%;

      tbody { height: 56rem;}
  }
  */
}
.regionPresent .container_01 {
  height: inherit;
}
.regionPresent .box_01 {
  flex: 0 1 60%;
  height: initial;
}
.regionPresent .box_01 section {
  height: 99%;
}
.regionPresent .box_01 .chartArea {
  height: 100%;
}
.regionPresent .box_02 {
  flex: 0 1 39%;
  height: initial;
}
.regionPresent .box_02 .totalData li {
  width: 50%;
}
.regionPresent .box_02 .regionPresentBorder {
  height: 83%;
  margin-top: 2rem;
}
.regionPresent .box_02 .regionPresentBorder tbody {
  height: 80%;
}

/* 알람 현황 */
.informReport {
  height: 94%;
}
.informReport .container_02 {
  height: 79%;
}
.informReport .container_02 section {
  flex: 1 0 100%;
}
.informReport .container_02 tbody {
  height: 51rem;
}

/* 예측유형별 상세 이력 조회 */
.predictionTypeInquiry .boxStyle {
  position: relative;
  padding-top: 2.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0;
  margin-bottom: 3rem;
}
.predictionTypeInquiry .boxStyle .chartArea {
  max-width: 1600px;
  min-height: 420px;
}
.predictionTypeInquiry .container_02 {
  max-height: 45rem;
}
.predictionTypeInquiry .container_02 section {
  flex: 1 0 100%;
}
.predictionTypeInquiry .container_02 tbody {
  max-height: 30rem;
}

/* 발전실적 수신 현황 */
.resultPresent {
  height: 94%;
}
.resultPresent .boxStyle {
  height: 80%;
}
.resultPresent .boxStyle section {
  height: 90%;
}
.resultPresent .boxStyle section table {
  height: 80%;
}
.resultPresent .boxStyle section table tbody {
  height: 120%;
}
.resultPresent .boxStyle section table th:first-child, .resultPresent .boxStyle section table td:first-child {
  width: 6%;
}
.resultPresent .boxStyle section table th:last-child, .resultPresent .boxStyle section table td:last-child {
  width: 10%;
}

/* 달력 레이아웃 스타일 */
.calendarStyle::after {
  content: "";
  display: block;
  clear: both;
}
.calendarStyle .box_01 {
  float: left;
  width: 20%;
  margin-right: 2rem;
}
.calendarStyle .box_01::after {
  content: "";
  display: block;
  clear: both;
}
.calendarStyle .box_01 .switch {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #38475a;
  text-align: center;
}
.calendarStyle .box_01 .switch > li {
  float: left;
  width: 50%;
  padding: 0.8rem 0;
  cursor: pointer;
}
.calendarStyle .box_01 .switch > li.action {
  background: #3894f4;
  color: #fff;
}
.calendarStyle .box_01 .switch::after {
  content: "";
  display: block;
  clear: both;
}
.calendarStyle .box_01 .dataList {
  padding: 2rem;
}
.calendarStyle .box_01 .dataList li {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #202d3d;
}
.calendarStyle .box_01 .dataList li:last-child {
  margin-bottom: 0;
}
.calendarStyle .box_01 .dataList li:last-child p {
  padding-bottom: 0;
}
.calendarStyle .box_01 .dataList li h4 {
  float: left;
  width: 49%;
  margin-right: 1%;
}
.calendarStyle .box_01 .dataList li select {
  width: 50%;
  padding: 0.6rem 0.8rem;
}
.calendarStyle .box_01 .dataList li p {
  padding-bottom: 0.8rem;
  text-align: right;
}
@media screen and (max-width: 1520px) {
  .calendarStyle .box_01 .dataList li h4 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.8rem;
  }
  .calendarStyle .box_01 .dataList li select {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .calendarStyle .box_01 .dataList li p {
    padding: 0.8rem 0;
  }
}
.calendarStyle .box_02 {
  float: right;
  width: 78%;
}
.calendarStyle .box_02::after {
  content: "";
  display: block;
  clear: both;
}
.calendarStyle .box_02 .timeSeries {
  margin-bottom: 2rem;
}
.calendarStyle .box_02 .timeSeries .chartArea {
  min-height: 42vh;
}

.warningIcon {
  padding-top: 1rem;
  text-align: right;
}

.warningIcon img {
  width: 2.3rem;
  height: 2.3rem;
  cursor: help;
  filter: invert(63%) sepia(5%) saturate(0%) hue-rotate(134deg) brightness(95%) contrast(93%);
}

/* 입찰 이력 조회 */
.bidInquiry .calendar {
  margin-bottom: 2rem;
}
.bidInquiry .timeSeries {
  padding-top: 0rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0rem;
}
.bidInquiry .errFrequency {
  float: left;
  width: 28%;
  margin-right: 2rem;
}
.bidInquiry .errFrequency .chartArea {
  min-height: 35vh;
  margin-bottom: -1rem;
}
.bidInquiry .errFrequency h5 {
  margin-bottom: 2rem;
  color: #a5abb2;
  text-align: center;
}
.bidInquiry .timeData th:first-child, .bidInquiry .timeData td:first-child {
  width: 10%;
}
.bidInquiry .timeData th:nth-child(5), .bidInquiry .timeData td:nth-child(5) {
  width: 16%;
}
.bidInquiry .timeData th:nth-child(6), .bidInquiry .timeData td:nth-child(6) {
  width: 16%;
}
.bidInquiry .timeData tbody {
  max-height: 75vh;
}

/* 입찰서 생성 */
.bidCreat section {
  margin-bottom: 2rem;
}
.bidCreat section:last-child {
  margin-bottom: 0;
}
.bidCreat .timeSeries {
  padding-top: 2rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0rem;
}

/* 기상 이력 조회 */
.weatheInquiry section {
  margin-bottom: 2rem;
}
.weatheInquiry section:last-child {
  margin-bottom: 0;
}
.weatheInquiry .chartArea {
  min-height: 40vh;
}
.weatheInquiry tbody {
  max-height: 48vh;
}/*# sourceMappingURL=common.css.map */